<div class="row">
	<div class="col s12 center">
		<h5>Dresscode - Hilfestellung</h5>
	</div>
</div>
<div class="row">
	<div class="col s6 center">
		<img src="images/black-tie-men.jpg" style="width: 100%;">
	</div>
	<div class="col s6">
		<h5>Der Herr</h5>
		"Es kann entweder ein Smoking oder ein Anzug getragen werden. [...] Wenn es Ihnen Spaß macht einen Smoking zu tragen und Sie sich so wohl fühlen, sollten Sie einfach einen anziehen. Bei Unsicherheit eignet sich dagegen ein schwarzer Anzug und ein weißes Hemd in Kombination mit einem schwarzen Schlips als Party-Kleidung." - The Modern Gentleman
	</div>
</div>
<div class="row">
	<div class="col s6 center">
		<img src="images/black-tie-women.jpg" style="width: 100%;">
	</div>
	<div class="col s6">
		<h5>Die Dame</h5>
		Beschreibung
	</div>
</div>