<div class="row">
  <div class="col s12">
    <h5 class="center">Warnung!</h5>
    <p>Bitte beachte diese Regeln:</p>
    <ol class="collection">
      <li class="collection-item black">
        Die nachfolgenden Angaben haben endgültige Wirkung. Überlege Dir bitte gut, welche Entscheidung Du triffst.
      </li>
      <li class="collection-item black">
        Reden ist Silber, schweigen ist Gold! Die hier gewonnenen Informationen werden nicht weiter gegeben.
      </li>
      <li class="collection-item black">
        Die Zeit läuft...
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col s12 center">
    <img src="images/panther.png" style="width: 75%;"/>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <a href="#decision" class="white-text right">Weiter</a>
  </div>
</div>